/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
img,
video {
    vertical-align: middle;
}

/* Browse Happy prompt */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* GLOBAL STYLES */

body {
    font-family: 'Karla', sans-serif; /* 4/5 weird letter spacing */
    letter-spacing: -0.0125em;
    color: #222;
}
body.home {
    text-align: center;
}

/* Layout */

.row {
    max-width: 35em;
    margin: 0 auto;
    position: relative;
}

/* Home Colors */

body.home section.masthead {
    background-color: #fff;
}

/* Downtown Sound Colors */

body.downtown #titlebar, body.downtown section.masthead, body.downtown #menu {
    background-color: #E6F546;
}

/* Loops & Variations Colors */

body.loops #titlebar, body.loops section.masthead, body.loops #menu {
    background-color: #7FFFD4;
}

/* Information Colors */

body.info #titlebar, body.info section.masthead, body.info #menu {
    background-color: #fff;
}

/* Menu and titlebar */

#titlebar, #menu {
    position: fixed;
    z-index: 100;
    right: 0px;
    left: 0px;
}
#titlebar a, #menu a {
    color: #000;
    text-decoration: none;
}
#titlebar a:hover, #menu a:hover {
    color: #0000FF;
}
#titlebar {
    text-align: center;
    top: 0px;
    padding: 0.625em 1em;
}
#titlebar a {
    display: block;
    width: 100%;
}
#menu {
    width: 100%;
    text-align: center;
    font-size: 0.75em;
    bottom: 0px;
}
#menu a {
    display: block;
    float: left;
    padding: 0.75em 0;
    width: 33.3333%;
}
#menu a:last-of-type {
    float: right;
}
#menu a.current {
    color: #0000FF;
    font-weight: 700;
}

/* Typography and links */

a {
    color: blue;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0.1em;
    margin-bottom: 0.25em;
    letter-spacing: -0.025em;
    line-height: 1.2;
}
body {
    font-size: 90%;
}
section .row {
    padding: 2em 1.5em;
}
@media screen and (min-width: 481px) {
    body {
        font-size: 100%;
    }
    section .row {
        padding: 3em 1.5em;
    }
}
@media screen and (min-width: 769px) {
    body {
        font-size: 120%;
    }
    section .row {
        padding: 5em 1.5em;
    }

    /* Background Images */

    body.home #content {
        background-image: url(../images/2014.png);
        background-attachment: fixed;
    }
    body.loops #content {
        background-image: url(../images/thurs.png);
        background-attachment: fixed;
    }
    body.downtown #content {
        background-image: url(../images/mon.png);
        background-attachment: fixed;
    }
    body.info #content {
        background-image: url(../images/info.png);
        background-attachment: fixed;
    }
    body.detail #content {
        background: none;
    }
    @media all and (-webkit-min-device-pixel-ratio: 2) {
        body.home #content {
            background-image: url(../images/2014@x2.png);
            background-size: 36px 36px;
        }
        body.loops #content {
            background-image: url(../images/thurs@x2.png);
            background-size: 36px 36px;
        }
        body.downtown #content {
            background-image: url(../images/mon@x2.png);
            background-size: 36px 36px;
        }
        body.info #content {
            background-image: url(../images/info@x2.png);
            background-size: 36px 36px;
        }
        body.detail #content {
            background: none;
        }
    }
    @media all and (-webkit-min-device-pixel-ratio: 2) {
        body.home #content {
            background-image: url(../images/2014@x2.png);
            background-size: 36px 36px;
        }
        body.loops #content {
            background-image: url(../images/thurs@x2.png);
            background-size: 36px 36px;
        }
        body.downtown #content {
            background-image: url(../images/mon@x2.png);
            background-size: 36px 36px;
        }
        body.info #content {
            background-image: url(../images/info@x2.png);
            background-size: 36px 36px;
        }
        body.detail #content {
            background: none;
        }
    }
}
.site-title, .page-title {
    margin: 0;
    font-size: 0.75em;
    font-weight: 700;
}
.page-title {
    display: none;
}
.page-header .page-title {
    display: block;
}
.site-header .page-title, .page-header .site-title {
    display: none;
}

/* Shows */

a.show {
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
a.show:last-of-type {
    /*border-bottom: none;*/
}
body.loops .show header {
    color: #0000FF;
}
body.downtown .show header {
    color: #FF1493;
}
.main, .support {
    font-weight: 700;
    line-height: 1.1;
}
.main {
    margin-bottom: 0.25em;
    line-height: 1.1;
}
.support {
    font-size: 1.25em;
}
.date {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}
.loops .fa-chevron-right {
    color: #0000FF;
}
.downtown .fa-chevron-right {
    color: #FF1493;
}
.fa-chevron-right {
    position: absolute;
    font-size: 1em;
    top: 50%;
    margin-top: -0.5em;
    right: 1.5em;
}
.button {
    display: block;
    text-align: center;
    padding: 1em;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 1em;
    color: rgba(0,0,0,0.75);
}
.button.loops {
    background-color: #7FFFD4;
}
.button.downtown {
    background-color: #E6F546;
}
.button small {
    display: block;
    font-size: 0.75em;
    color: rgba(0,0,0,0.25);
}
.button p {
    font-weight: normal;
    font-size: 0.75em;
}
.credit {
    font-weight: 700;
    text-align: center;
    padding-top: 1.5em;
}
.fb-share-button span {
    vertical-align: baseline !important;
}
.share {
    border-top: 1px solid rgba(0,0,0,0.1);
}
.donate {
    background-color: #0000FF;
    border: none;
    padding: 1em;
    margin: 1.5em 0;
    font-size: 1em;
    font-family: 'Karla', sans-serif;
    letter-spacing: -0.0125em;
    color: white;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Vertical Center */

.banner, .banner-wrapper {
    vertical-align: middle;
    margin: 0 auto;
}
.banner {
    display: table;
}
.banner-wrapper {
    display: table-cell;
}

/* Image replacement */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */

.hidden {
    display: none !important;
    visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */

.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* Print */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
