/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #7FFFD4;
    color: #FFF;
    text-shadow: none;
}

::selection {
    background: #7FFFD4;
    color: #FFF;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
img,
video {
    vertical-align: middle;
}

/* GLOBAL STYLES */

html, body {
    height: 100%;
}

body {
    font-family: 'Karla', sans-serif; /* 4/5 weird letter spacing */
    letter-spacing: -0.0125em;
    color: #222;
}
body.home {
    text-align: center;
}

/* Layout */

.row {
    max-width: 35em;
    margin: 0 auto;
    position: relative;
}

#titlebar, .masthead {
    text-align: center;
}

#titlebar {
    background: #7FFFD4;
}
.masthead {
    background: #7FFFD4;
}
.home {
    background: #000;
}

/* Home Page */

.banner {
    color: #7FFFD4;
}
.hero {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1000;
    background: url(../images/downtown-sound.jpg);
    background-size: cover;
    opacity: 0.5;
}

/* Menu and titlebar */

#titlebar, #menu {
    position: fixed;
    z-index: 100;
    right: 0px;
    left: 0px;
}
#titlebar a, #menu a {
    color: #222;
    text-decoration: none;
}
#titlebar {
    text-align: center;
    top: 0px;
    padding: 0.625em 1em;
}
#titlebar a {
    display: inline-block;
}
#menu {
    width: 100%;
    text-align: center;
    font-size: 0.9375em;
    text-transform: uppercase;
    bottom: 0px;
    background-color: #ffffff;
    box-shadow: 0px -2px 2px rgba(0,0,0,0.08);
}
#menu a {
    display: block;
    float: left;
    padding: 0.75em 0;
    width: 33.333333%;
    color: rgba(0,0,0,0.5);
}
#menu a.current {
    color: #000;
    font-weight: 700;
}

/* Typography and links */

a {
    color: #FF7D64;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0.1em;
    margin-bottom: 0.5em;
    letter-spacing: -0.025em;
    line-height: 1.4;
}
h5 {
    margin-bottom: 2em;
}
body {
    font-size: 95%;
}
section .row {
    padding: 2em 1.5em;
}
.credit {
    padding: 5em;
    text-align: center;
}
@media screen and (min-width: 481px) {
    body {
        font-size: 100%;
    }
    section .row {
        padding: 3em 1.5em;
    }
}
@media screen and (min-width: 769px) {
    body {
        font-size: 120%;
    }
    section .row {
        padding: 5em 1.5em;
    }
}
.site-title, .page-title {
    margin: 0;
    font-size: 1em;
    font-weight: 700;
    display: inline;
}
.page-title {
    display: none;
}
.page-header .page-title {
    display: inline-block;
}
.site-header .page-title, .page-header .site-title {
    display: none;
}
.time-label {
    font-size: 0.625em;
    padding: 0.25em;
    border: 2px solid #222;
}
.info-link {
    position: absolute;
    padding: 0 1em;
}
.info-link {
    right: 0;
}

/* Shows */
a.show:focus {
    outline: 0;
}
a.show {
    display: block;
}
a.show {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.more-info {
    color: #000;
}
a.show:last-of-type {
    border-bottom: none;
}
.show header {
    color: #FF7D64;
}
.main, .support {
    font-weight: 700;
    line-height: 1.3;
}
.main {
    margin-bottom: 0.25em;
}
.support {
    font-size: 1.25em;
}
.date {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}
span.time {
    text-transform: none;
}
.more-info {
    position: absolute;
    font-size: 1.5em;
    top: 50%;
    margin-top: -0.5em;
    right: 0.66666em;
}
.fb-share-button span {
    vertical-align: baseline !important;
}
.share {
    border-top: 1px solid rgba(0,0,0,0.1);
}
.donate {
    background-color: #0000FF;
    border: none;
    padding: 1em;
    margin: 1.5em 0;
    font-size: 1em;
    font-family: 'Karla', sans-serif;
    letter-spacing: -0.0125em;
    color: white;
}
.button {
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    margin: 1em; auto;
    color: #000;
    background-color: #7FFFD4;
    padding: 1em 1.325em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Vertical Center */

.banner, .banner-wrapper {
    vertical-align: middle;
    margin: 0 auto;
}
.banner {
    display: table;
}
.banner-wrapper {
    display: table-cell;
}

/* Image replacement */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */

.hidden {
    display: none !important;
    visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */

.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* Print */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
