<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} · Downtown Sound 2015</title>
    <meta name="description" content="The 2015, mobile-friendly guide to Millennium Park's wonderful summer concert series, Downtown Sound.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Facebook Share Meta -->
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:title" content="Downtown Sound 2015"/>
    <meta property="og:description" content="The 2015, mobile-friendly guide to Millennium Park's wonderful summer concert series, Downtown Sound. Musical performances are held at the Jay Pritzker Pavillion June 1st to July 23, Mondays and Thursdays at 6:30pm. Admission is FREE." />

    <meta property="og:image" content="{{ site.url }}/images/downtown-sound-fb.jpg">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">

    <!-- FontAwesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Modernizr -->
    <script src="{{ site.baseurl }}/js/vendor/modernizr-2.6.2.min.js"></script>
</head>