<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="The 2015, mobile-friendly guide to Millennium Park's wonderful summer concert series, Downtown Sound.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Facebook Share Meta -->
    <meta property="fb:app_id" content="1585474685037845" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:description" content="The 2015, mobile-friendly guide to Millennium Park's wonderful summer concert series, Downtown Sound. Musical performances are held at the Jay Pritzker Pavillion June 1st to July 23, Mondays and Thursdays at 6:30pm. Admission is FREE." />
    <meta property="og:image" content="{{ site.baseurl }}/images/downtown-sound-fb.jpg"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">

    <!-- FontAwesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Modernizr -->
    <script src="{{ site.baseurl }}/js/vendor/modernizr-2.6.2.min.js"></script>
</head>