<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }} · Millennium Park Summer Concerts</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
        <script src="{{ site.baseurl }}/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

      <header>
        <div style="text-align: center; font-size: 0.75em; position: fixed; top: 0; right: 0; left: 0; background-color: #f2f2f2; padding: 10px 8px">
          <nav>
            <a href="{{ site.baseurl }}/downtown-sound" style="float: left; text-decoration: none;">Downtown Sound</a>
            <a href="{{ site.baseurl }}" style="text-decoration: none;">Home</a>
            <a href="{{ site.baseurl }}/loops-variations" style="float: right; text-decoration: none;">Loops and Variations</a>
          </nav>
      </div>

      </header>

        <div id="wrapper">

        {{ content }}

        </div>

       <footer>

        <i><p>Made by <a href="http://www.twitter.com/bryankveton">@bryankveton</a></p></i>

      </footer>



        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ site.baseurl }}js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-8701302-8', 'brynosaur.github.io');
          ga('send', 'pageview');

        </script>
    </body>
</html>