<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    {% include head.html %}

    <body class="{{ page.class }} detail">

        {% include header.html %}

        <div id="content">

        <section class="show">
          <div class="row">
            <header>
              <time class="date"><span class="highlight">{{ page.date | date: "%A, %B %-d" }} — <span class="time">6:30pm</span></span></time>
              <h1 class="main"><span class="highlight">{{ page.title }}</span></h1>
              <h2 class="support"><span class="highlight">{{ page.support }}</span></h2>
            </header>

            <section class="bio">

              {{ content }}

            </section>

            <section class="listen">

            <h3>It'll sound like this:</h3>

              {% include soundcloud.html %}

            </section>

            <section class="share">

            <h3>Tell your pals:</h3>

              {% include share.html %}

            </section>

          </div>
        </section>

        </div>

        {% include scripts.html %}

        {% include social.html %}

        {% include google.html %}

    </body>
</html>