<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    {% include head.html %}

    <body class="{{ page.class }}">

        {% include facebook.html %}

        {% include header.html %}

        <div id="content">

        <section class="masthead">
          <div class="row">

            <header>
              <h1>{{ page.title }}</h1>
              <h2><span class="time-label">6:30pm</span></h2>
            </header>

            <p class="lead"><strong>FREE Admission</strong></p>

          </div>
        </section>

        {{ content }}

        </div>

        {% include menu.html %}

        {% include scripts.html %}

        {% include google.html %}

    </body>
</html>